# __Exploratory Data Analysis__

In [2]:
# Python base libraries
import os

# Data science libraries
import csv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# NLP libraries
import nltk
from nltk.corpus import stopwords
from textblob import Word
from wordcloud import WordCloud
from nltk.stem import WordNetLemmatizer
import plotly.express as px

# Custom libraries
import sys
sys.path.append('..')
from functions.eda import *

### Load data

In [25]:
train_path = '../data/train.tsv'
test_path = '../data/test.tsv'
validation_path = '../data/validation.tsv'

columns = ['comment', 'label', 'id']

train = pd.read_csv(train_path, sep='\t', names=columns)
test = pd.read_csv(test_path, sep='\t', names=columns)
validation = pd.read_csv(validation_path, sep='\t', names=columns)

print(train.head())
print(test.head())
print(validation.head())

                                             comment label       id
0  My favourite food is anything I didn't have to...    27  eebbqej
1  Now if he does off himself, everyone will thin...    27  ed00q6i
2                     WHY THE FUCK IS BAYLESS ISOING     2  eezlygj
3                        To make her feel threatened    14  ed7ypvh
4                             Dirty Southern Wankers     3  ed0bdzj
                                             comment label       id
0  Iâ€™m really sorry about your situation :( Altho...    25  eecwqtt
1    It's wonderful because it's awful. At not with.     0  ed5f85d
2  Kings fan here, good luck to you guys! Will be...    13  een27c3
3  I didn't know that, thank you for teaching me ...    15  eelgwd1
4  They got bored from haunting earth for thousan...    27  eem5uti
                                             comment label       id
0  Is this in New Orleans?? I really feel like th...    27  edgurhb
1  You know the answer man, you are programmed to...  4,27  ee84bjg
2               I've never been this sad in my life!    25  edcu99z
3  The economy is heavily controlled and subsidiz...  4,27  edc32e2
4  He could have easily taken a real camera from ...    20  eepig6r

- In the validation set we see that there are comments with more than one tag. This can complicate model training. Therefore, we have decided to do an explode: replicate those records as many times as necessary so that each replica has a single label. 

- But before we do that, let's check that there are no duplicates or null values in the original datasets.

### Check for duplicates

In [4]:
# Number of duplicate rows
print('Number of duplicate rows in the train dataset:', train.duplicated().sum())
print('Number of duplicate rows in the test dataset:', train.duplicated().sum())
print('Number of duplicate rows in the validation dataset:', train.duplicated().sum())

Number of duplicate rows in the train dataset: 0
Number of duplicate rows in the test dataset: 0
Number of duplicate rows in the validation dataset: 0

### Check datatypes and missing values

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43410 entries, 0 to 43409
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  43410 non-null  object
 1   label    43410 non-null  object
 2   id       43410 non-null  object
dtypes: object(3)
memory usage: 1017.6+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5427 entries, 0 to 5426
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  5427 non-null   object
 1   label    5427 non-null   object
 2   id       5427 non-null   object
dtypes: object(3)
memory usage: 127.3+ KB

In [7]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5426 entries, 0 to 5425
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  5426 non-null   object
 1   label    5426 non-null   object
 2   id       5426 non-null   object
dtypes: object(3)
memory usage: 127.3+ KB

### Explode the datasets so that there is only 1 label per record

In [26]:
# First test with the validation df, as we can check already printing the first 5 rows.

# Split the labels in a new column
validation['labels_list'] = validation['label'].str.split(',')

# Explode the dataframe based on the labels_list column
validation = validation.explode('labels_list')

# Delete the label column
validation = validation.drop(columns = ['label'])

# Rename the labels_list column to 'label'
validation = validation.rename(columns = {'labels_list' : 'label'})

# Print the first 5 rows to check
validation.head()

                                             comment       id label
0  Is this in New Orleans?? I really feel like th...  edgurhb    27
1  You know the answer man, you are programmed to...  ee84bjg     4
1  You know the answer man, you are programmed to...  ee84bjg    27
2               I've never been this sad in my life!  edcu99z    25
3  The economy is heavily controlled and subsidiz...  edc32e2     4

In [27]:
# Train dataset
train['labels_list'] = train['label'].str.split(',')
train = train.explode('labels_list')
train = train.drop(columns = ['label'])
train = train.rename(columns = {'labels_list' : 'label'})

# Test dataset
test['labels_list'] = test['label'].str.split(',')
test = test.explode('labels_list')
test = test.drop(columns = ['label'])
test = test.rename(columns = {'labels_list' : 'label'})

In [13]:
# Let's see how much the number of rows has increased after the explode
print("Number of rows in the train dataset:", train.shape[0])
print("Number of rows in the test dataset:", test.shape[0])
print("Number of rows in the validation dataset:", validation.shape[0])

Number of rows in the train dataset: 51103
Number of rows in the test dataset: 6329
Number of rows in the validation dataset: 6380

- We can now also convert the label column to integer type, which reduces memory usage and improves computational efficiency.

In [28]:
# Cast column label to integer type
train['label'] = train['label'].astype(int)
test['label'] = test['label'].astype(int)
validation['label'] = validation['label'].astype(int)

### Analyse class imbalance

In [29]:
# Compute the frequencies and relative frequencies of the column label, for each dataset
train_freqs = check_class_imbalance(train, 'label').rename(columns = {'Freq' : 'Freq_train', 'RelFreq' : 'FreqRel_train'})
test_freqs = check_class_imbalance(test, 'label').rename(columns = {'Freq' : 'Freq_test', 'RelFreq' : 'FreqRel_test'})
validation_freqs = check_class_imbalance(validation, 'label').rename(columns = {'Freq' : 'Freq_validation', 'RelFreq' : 'FreqRel_validation'})

# Merge the dataframes on the column label, in order to print all the results together
merged_df = train_freqs.merge(test_freqs, on='label', how='outer')
merged_df = merged_df.merge(validation_freqs, on='label', how='outer')
merged_df = merged_df.sort_values(by='label')
merged_df

,label,Freq_train,FreqRel_train,Freq_test,FreqRel_test,Freq_validation,FreqRel_validation
0,0,4130,0.080817,504,0.079633,488,0.076489
1,1,2328,0.045555,264,0.041713,303,0.047492
2,2,1567,0.030664,198,0.031285,195,0.030564
3,3,2470,0.048334,320,0.050561,303,0.047492
4,4,2939,0.057511,351,0.055459,397,0.062226
5,5,1087,0.021271,135,0.021330,153,0.023981
6,6,1368,0.026769,153,0.024174,152,0.023824
7,7,2191,0.042874,284,0.044873,248,0.038871
8,8,641,0.012543,83,0.013114,77,0.012069
9,9,1269,0.024832,151,0.023858,163,0.025549
10,10,2022,0.039567,267,0.042187,292,0.045768
11,11,793,0.015518,123,0.019434,97,0.015204
12,12,303,0.005929,37,0.005846,35,0.005486
13,13,853,0.016692,103,0.016274,96,0.015047
14,14,596,0.011663,78,0.012324,90,0.014107
15,15,2662,0.052091,352,0.055617,358,0.056113
16,16,77,0.001507,6,0.000948,13,0.002038
17,17,1452,0.028413,161,0.025438,172,0.026959
18,18,2086,0.040820,238,0.037605,252,0.039498
19,19,164,0.003209,23,0.003634,21,0.003292
20,20,1581,0.030938,186,0.029389,209,0.032759
21,21,111,0.002172,16,0.002528,15,0.002351
22,22,1110,0.021721,145,0.022910,127,0.019906
23,23,153,0.002994,11,0.001738,18,0.002821
24,24,545,0.010665,56,0.008848,68,0.010658
25,25,1326,0.025948,156,0.024648,143,0.022414
26,26,1060,0.020742,141,0.022278,129,0.020219
27,27,14219,0.278242,1787,0.282351,1766,0.276803

- When training a model, an unbalanced dataset can lead to a bias in favor of the most frequent class. To avoid this, techniques such as up-sampling (adding samples from minority classes), down-sampling (reducing samples from majority classes) or a combination of both can be used.

- Label 27 does not correspond to any emotion, it is the 'neutral' class. This makes sense, since there may be many comments that do not reflect any emotion. However, it is necessary to remove many of these comments to ensure correct training of the models. To do this, we proceed to downsampling by removing a determined number of random records with label 27.

In [34]:
# Filter records with label 27
train_27_all = train[train['label'] == 27]
test_27_all = test[test['label'] == 27]
validation_27_all = validation[validation['label'] == 27]

# Select a random sample of the records with the label 27
train_27_sample = train_27_all.sample(n=10000, random_state=42) 
test_27_sample = test_27_all.sample(n=1300, random_state=42) 
validation_27_sample = validation_27_all.sample(n=1300, random_state=42) 

# Remove the selected sample from the original df
train = train.drop(train_27_sample.index)
test = test.drop(test_27_sample.index)
validation = validation.drop(validation_27_sample.index)

# Compute the frequencies and relative frequencies of the column label, for each dataset
train_freqs = check_class_imbalance(train, 'label').rename(columns = {'Freq' : 'Freq_train', 'RelFreq' : 'FreqRel_train'})
test_freqs = check_class_imbalance(test, 'label').rename(columns = {'Freq' : 'Freq_test', 'RelFreq' : 'FreqRel_test'})
validation_freqs = check_class_imbalance(validation, 'label').rename(columns = {'Freq' : 'Freq_validation', 'RelFreq' : 'FreqRel_validation'})

# Merge the dataframes on the column label, in order to print all the results together
merged_df = train_freqs.merge(test_freqs, on='label', how='outer')
merged_df = merged_df.merge(validation_freqs, on='label', how='outer')
merged_df = merged_df.sort_values(by='label')
merged_df

,label,Freq_train,FreqRel_train,Freq_test,FreqRel_test,Freq_validation,FreqRel_validation
0,0,4062,0.101319,495,0.101144,479,0.096826
1,1,2289,0.057095,257,0.052513,295,0.059632
2,2,1522,0.037964,192,0.039232,191,0.038609
3,3,2372,0.059165,301,0.061504,287,0.058015
4,4,2802,0.069891,333,0.068043,378,0.076410
5,5,1043,0.026016,133,0.027176,145,0.029311
6,6,1301,0.032451,144,0.029424,142,0.028704
7,7,2106,0.052530,268,0.054761,234,0.047301
8,8,622,0.015515,83,0.016960,77,0.015565
9,9,1221,0.030456,144,0.029424,158,0.031939
10,10,1945,0.048515,261,0.053331,278,0.056196
11,11,772,0.019256,120,0.024520,97,0.019608
12,12,295,0.007358,35,0.007152,32,0.006469
13,13,839,0.020927,97,0.019820,93,0.018799
14,14,584,0.014567,76,0.015529,87,0.017586
15,15,2652,0.066150,350,0.071516,358,0.072367
16,16,75,0.001871,6,0.001226,12,0.002426
17,17,1426,0.035569,159,0.032489,169,0.034162
18,18,2058,0.051333,234,0.047814,252,0.050940
19,19,160,0.003991,21,0.004291,20,0.004043
20,20,1547,0.038587,184,0.037597,205,0.041439
21,21,107,0.002669,16,0.003269,15,0.003032
22,22,1061,0.026465,137,0.027993,121,0.024459
23,23,148,0.003692,11,0.002248,18,0.003639
24,24,541,0.013494,56,0.011443,68,0.013746
25,25,1284,0.032027,155,0.031671,141,0.028502
26,26,1038,0.025891,139,0.028402,129,0.026076
27,27,4219,0.105236,487,0.099510,466,0.094199

In [35]:
# Print the new number of rows after removal
print("Number of rows in the train dataset:", train.shape[0])
print("Number of rows in the test dataset:", test.shape[0])
print("Number of rows in the validation dataset:", validation.shape[0])

Number of rows in the train dataset: 40091
Number of rows in the test dataset: 4894
Number of rows in the validation dataset: 4947

### Text preprocessing

### Frecuency distribution

### Word cloud